<!-- views/partials/header.ejs -->

<!--<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">-->
<div class="row">
  <div class="one-third column" style="margin-top: 15%">
    <a href="#">WikiTrends</a>
    <a href="/">Home</a>
    <a href="/about">About</a>
  </div>
</div>
<!--</nav>-->
