<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html>
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>WikiTrends</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#todo-list 				{ margin-bottom:30px; }
		#todo-form 	 			{ margin-bottom:50px; }
	</style>

	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS WITH INITIALIZE FUNCTION -->
<body ng-controller="mainController">
	<div class="container">

		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>Trending now...</h1>
		</div>

		<!-- PAGES LIST -->
		<div id="pages-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">

				<!-- LOOP OVER THE TODOS IN $scope.todos -->
				<div class="checkbox" ng-repeat="page in pages">
				</div>

			</div>
		</div>

		<div class="text-center text-muted">
			<p>Cristina Buenahora, Abhiti Prahabar, Alice Serfati, Sierra Yit</p>
		</div>

	</div>

</body>
</html>
