.menu {
  margin: 0px 100px;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 0px 50px;
}

.title {
  color: #4ecdc4;
  font-weight:normal;
  font-size: 44px;
  padding: 10px;
  vertical-align: middle;
}

.header {
  color: white;
  font-weight:normal;
  font-size: 50px;
  padding: 10px;
  padding-top: 10px;
}

.logo {
  display: flex;
  align-self: center;
  align-content: center;
}

.logo img {
  float: left;
  width: 10%;
  height: 10%;
}

.logoimg {
  height: 60px;
  width: auto;
}

.logo h1 {
  color: #4ECDC4;
  font-weight:normal;
  font-size: 44px;
  padding: 10px;
  text-decoration-line: none;
  position: relative;
  word-wrap: normal;
  vertical-align: middle;
}

.main {
  background-color: #292f36;
  width: 100%;
  word-wrap: normal;
  display: inline-block;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  border-bottom: 2px solid #bbb;
  border-right: 2px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  word-wrap: normal;
}

.bar {
  height: 100px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #4ECDC4;
}

.trendingimg {
  margin: 0px 100px;
  padding: 0 50px;
  height: 100%;
}

.row a {
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: .1rem;
  text-decoration: none;
}

a {
  text-decoration: none;
}

div .navbutton {
  display: inline-block;
  height: 38px;
  padding: 0 20px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  line-height: 38px;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 8px;
}

.card {
  margin: 20px 100px;
  padding: 0 50px;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
  word-wrap: normal;
  height: auto;
  display: flex;
  align-self: center;
  align-content: center;
}

.cardimg {
  height: auto;
  width: 200px;
}

.innercard {
  padding: 0 50px;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: .1rem;
  text-transform: none;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  word-wrap: normal;
  height: auto;
  align-self: center;
}

.cardtext {
  width: 100%;
  word-wrap: normal;
  word-break: normal;
  white-space: normal;
  text-align: left;
  vertical-align: top;
  color: white;
  font-size: 24px;
  text-transform: none;
  font-weight: normal;
}

.wikipagebar {
  height: 3px;
  width: 80%;
  background-color: #4ECDC4;
  margin: 30px 100px;
  padding: 0px 50px;
}

.wikipageheader {
  color: white;
  font-weight: normal;
  font-size: 40px;
  text-align: left;
  vertical-align: middle;
  word-wrap: normal;
  word-break: normal;
  white-space: normal;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  max-width: 600px;
  line-height: normal;
}

.timeline {
  width: 1000px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.descriptioncard {
  background-color: #efefef;
  padding: 0 30px;
  color: #555;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  word-wrap: normal;
  height: auto;
}

div .text {
  width: 100%;
  word-wrap: normal;
  word-break: normal;
  white-space: normal;
  text-align: left;
  vertical-align: top;
  color: white;
  line-height: normal;
}

.aboutbar {
  height: 3px;
  width: 50%;
  background-color: #4ECDC4;
  margin: 30px 250px;
}

.aboutcard {
  margin: 20px 250px;
  padding: 0 30px;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  word-wrap: normal;
  height: auto;
}

.aboutheader {
  color: white;
  font-weight:normal;
  font-size: 40px;
  margin: 0px 250px;
  padding: 0px 60px;
  text-align: left;
}

.abouttext {
  width: 80%;
  word-wrap: normal;
  word-break: normal;
  white-space: normal;
  text-align: left;
  vertical-align: top;
  color: white;
  margin: 0px 30px;
  font-size: 18px;
  text-transform: none;
  font-weight: normal;
  line-height: normal;
}

.nametext {
  width: 100%;
  word-wrap: normal;
  word-break: normal;
  white-space: normal;
  text-align: center;
  vertical-align: top;
  color: white;
  font-size: 28px;
  text-transform: none;
  font-weight: normal;
}

.infotext {
  width: 100%;
  word-wrap: normal;
  word-break: normal;
  white-space: normal;
  text-align: left;
  vertical-align: top;
  color: white;
  font-size: 16px;
  text-transform: none;
  font-weight: normal;
}

.aboutimg {
  height: auto;
  width: 200px;
  padding: 5px;
  display: block;
  margin: 0 auto;
}

table {
  table-layout: fixed;
}

.abouttable {
  width: 85%;
}

.difimg {
  width: 100px;
  height: 100px;
  padding: 5px;
  display: block;
  margin: 0 auto;
}

.contentCard {
  background-color: #efefef;
  padding: 0 30px;
  color: #555;
  text-align: left;
  font-size: ;
  font-weight: normal;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  word-wrap: normal;
  height: auto;
  width: 100%;
  margin-left: 4%;
  align-items: center;
}

.image {
  width: 75%;
  height: auto;
  display: block;
  margin: 0px 30px;
  align-self: center;
  align-items: center;
  align-content: center;
}

.chart {
  width: 100%;
  height: auto;
  min-height: 300px;
  max-height: 500px;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.articlescard {
  margin: 20px 100px;
  padding: 0 50px;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  word-wrap: normal;
  height: auto;
  width: auto;
}

.articlecard {
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  word-break: normal;
  box-sizing: border-box;
  word-wrap: normal;
  height: auto;
  display: flex;
  vertical-align: middle;
  align-self: center;
}

.articleimg {
  width: auto;
  height: auto;
  padding: 5px;
  display: block;
  margin: 0 auto;
}

.footer {
  padding: 10px;
  width: 100%;
  word-wrap: normal;
  word-break: normal;
  white-space: normal;
  text-align: center;
  vertical-align: top;
  color: white;
}
