
.container {
  background-color:#c0c8d8;
}

.title {
  color: #1d224c;
  font-weight:500;
  font-size: 44px;
  padding: 10px;
  text-decoration-line: none;
  vertical-align: middle; 
}

.header {
  color: #1d224c;
  font-weight:500;
  font-size: 30px;
  padding: 10px;
  text-decoration-line: none;
  padding-top: 10px; 
}

.logo img {
  float: left; 
  width: 20%; 
  height: 20%; 
}

.logo h1 {
  color: #1d224c;
  font-weight:500;
  font-size: 44px;
  padding: 10px;
  text-decoration-line: none;
  position: relative;
  word-wrap: normal;
  vertical-align: middle; 
}

.main {
  background-color: #fff;
  margin-top: 10%;
  padding: 30px;
  width: 100%;
  word-wrap: normal;
  display: inline-block;
  text-align: left;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-bottom: 2px solid #bbb;
  border-right: 2px solid #bbb;
  /*box-shadow: 10px 10px 5px #888;*/
  cursor: pointer;
  box-sizing: border-box;
  word-wrap: normal; 
}

.row a {
  color: #555;
  text-align: left;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
}

div .navbutton {
  display: inline-block;
  height: 38px;
  padding: 0 20px;
  color: #555;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 8px;
}

.card {
  background-color: #efefef;
  padding: 0 30px;
  color: #555;
  text-align: left;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  word-wrap: normal;
  height: auto;
}

div .text {
  width: 100%;
  word-wrap: normal;
  word-break: normal;
}

.difimg {
  width: 5%; 
  height: 5%; 
  text-align: center; 
  word-wrap: normal;
  vertical-align: middle; 
  padding: 5px; 
}

.footer {
  padding: 10px; 
}