<!-- views/partials/header.ejs -->

<!--<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">-->
<div class="row">
  <div class="nine columns">
    <h1 class="title">WikiTrends</h1>
  </div>
  <div class="three columns" style="margin-top:10px">
    <!--<a href="#" class="button">WikiTrends</a>-->
    <a href="/" class="navbutton">Home</a>
    <a href="/about" class="navbutton">About</a>
  </div>
</div>
<!--</nav>-->
