<div class="row">
  <div class="six columns">
    <div class="logo">
      <img src="images/logoImg.png"></img>
      <h1>WikiTrends</h1>
    </div> 
  </div>
  <div class="three columns" style="margin-top:10px">
    <!--<a href="#" class="button">WikiTrends</a>-->
    <a href="/" class="navbutton">Home</a>
    <a href="/electionday" class="navbutton">Election Day</a>
    <a href="/about" class="navbutton">About</a>
  </div>
</div>
<br>
