<div class="row menu">
  <div class="eight columns">
    <!--<div class="header"> WikiTrends-->
      <!--<img src="images/logoImg.png"></img>-->
      <!--<h1>WikiTrends</h1>-->
    <!--</div>-->
  <img src="images/logo5.png" class="logoimg"/>
  </div>
  <div class="three columns">
    <!--<a href="#" class="button">WikiTrends</a>-->
    <a href="/" class="navbutton">Home</a>
    <a href="/howitworks" class="navbutton">How It Works</a>
    <a href="/about" class="navbutton">About</a>
  </div>
</div>
<br>
