<div class="row menu">
  <div class="six columns">
  <a href="/"><img src="images/logo.png" class="logoimg"/></a>
  </div>
  <div class="three columns topmenu">
    <a href="/about" class="navbutton">About</a>
    <a href="/howitworks" class="navbutton">How It Works</a>
    <div class="dropdown" style="padding-left: 20px">
      <div class="options">
        <div class="option"><a href="/" class="navbutton">Now</a></div>
        <div class="option"><a href="/week" class="navbutton">Weekly</a></div>
        <div class="option"><a href="/month" class="navbutton">Monthly</a></div>
      </div>
      <img src="images/menu.png" class="menuimg"/>
      <a href="/" class="navbutton home">Trending</a>
    </div>
    <br>
  </div>
</div>
