<!-- views/pages/about.ejs -->

<!DOCTYPE html>

<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">
  <div class="main">
    <header>
      <% include partials/header %>
    </header>
    <div class="row">
      <h4>Senior Design Project</h4>
      <p class="card" >Goal: Find and analyse spikes in Wikipedia page count data to create a completely unbiased news source across different languages.</p>
    </div>
  <footer>
    <% include partials/footer %>
  </footer>
  </div>
</body>
</html>
