<!-- views/about.ejs -->

<!DOCTYPE html>

<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="main">
    <header>
      <% include partials/header %>
    </header>
    <br>
    <div class="row">
      <br>
      <div class="aboutheader">Mission</div>
      <div class="aboutbar"></div>
      <div class="aboutcard">
        <div class="abouttext">WikiTrends challenges today’s media standard by creating a democratized news source based on trending Wikipedia articles, revolutionizing the way people interact with the news.</div>
      </div>
      <br><br>
      <div class="aboutheader">Differentiators</div>
      <div class="aboutbar"></div>
      <div class="aboutcard">
        <table class="abouttable">
          <tr>
          <th><img class="difimg" src="images/dif1.png"></th>
          <th><img class="difimg" src="images/dif2.png"></th>
          <th><img class="difimg" src="images/dif3.png"> </th>
          </tr>
          <tr>
          <td class="abouttext"><center>Objective</td>
          <td class="abouttext"><center>Factual</td>
          <td class="abouttext"><center>Educational</td>
          </tr>
          <tr>
          <td class="abouttext"><center>WikiTrends is based on searches trending worldwide, not influenced by a user’s personal interests or networks.</td>
          <td class="abouttext"><center>WikiTrends uses Wikipedia articles, which are written with unbiased and factual information.</td>
          <td class="abouttext"><center>WikiTrends is built on Wikipedia's motivation of educating people under a free license, with the addition of helping people form their own opinions on current events.</td>
          </tr>
        </table>
      </div>
      <br>
      <div class="aboutheader">Our Team</div>
      <div class="aboutbar"></div>
      <div class="aboutcard">
        <table class="abouttable">
          <tr>
          <td class="nametext">Cristina Buenahora</td>
          <td class="nametext">Abhiti Prabahar</td>
          <td class="nametext">Alice Serfati</td>
          <td class="nametext">Sierra Yit</td>
          </tr>
          <tr>
          <th><img class="aboutimg" src="images/cristina.jpg"></th>
          <th><img class="aboutimg" src="images/abhiti.jpg"></th>
          <th><img class="aboutimg" src="images/alice.jpg"></th>
          <th><img class="aboutimg" src="images/sierra.jpg"></th>
          </tr>
          <tr>
          <td class="infotext">Cristina was born in Cucuta, Colombia but grew up in Rye, New York. She is a senior double majoring in Systems Science and Engineering and Computer Science at the University of Pennsylvania. She has worked as a software developer and project manager at Microsoft for the past two summers and will be a Tech Associate at Bridgewater after graduation. She made the WikiTrends webapp and contributed to the user interface design.</td>
          <td class="infotext">Abhiti is a senior from a suburb outside of Atlanta, Georgia studying Systems Science and Engineering and submatriculating into the Systems Engineering Master’s program at the University of Pennsylvania. Abhiti is interested in using statistics, data analytics, and optimization to make a social impact. Her contributions to WikiTrends include product management, user interface design, and strategic research.</td>
          <td class="infotext">Alice was born in Caracas, Venezuela but she grew up in Miami, Florida. She is a senior at the University of Pennsylvania studying Systems Science and Engineering and minoring in Engineering Entrepreneurship and Mathematics. Alice is interested in efficiency, product development, and business management. Her contributions to WikiTrends range from project management, user interface design, and strategic research.</td>
          <td class="infotext">Sierra is a senior at the University of Pennsylvania studying Computer Science. She was born in Canada, but grew up in Bermuda, and has spent the last two summers working as a software engineer at Google and will be returning after graduation. She is responsible for the backend of WikiTrends, as well as some of the user interface design.</td>
         </tr>
        </table>
      </div>
    </div>
  <footer>
    <% include partials/footer %>
  </footer>
</body>
</html>
