<!-- views/about.ejs -->

<!DOCTYPE html>

<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">
  <div class="main">
    <header>
      <% include partials/header %>
    </header>
    <br>
    <div class="row">
      <h1 class="header">Mission</h1>
      <div class="aboutcard">
        <div class="text">WikiTrends challenges today’s media standard by creating an unbiased news source based on pure facts, revolutionizing the way people interact with news articles. </div>
      </div>
      <br>
      <h1 class="header">Differentiators</h1>
      <div class="aboutcard">
        <img class="difimg" src="images/dif1.png">  Based on searches trending worldwide, not personalized to user</img>
        <br>
        <img class="difimg" src="images/dif2.png">  Based on Wikipedia articles, which is factual information</img>
        <br>
        <img class="difimg" src="images/dif3.png">  Follows Wikipedia's motivation of educating people under a free license</img> 
      </div>
    </div>
  <footer>
    <% include partials/footer %>
  </footer>
  </div>
</body>
</html>
