<!-- views/about.ejs -->

<!DOCTYPE html>

<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">
  <div class="main">
    <header>
      <% include partials/header %>
    </header>
    <div class="row">
      <h1 class="header">Mission</h1>
      <div class="card">
        <p class="text">WikiTrends challenges today’s media standard by creating an unbiased news source based on pure facts, revolutionizing the way people interact with news articles. </p>
      </div>
      <h1 class="header">Differentiators</h1>
      <div class="card">
        <div class="text">1. Based on searches trending worldwide, not personalized to user</div>
        <div class="text">2. Based on Wikipedia articles, which is factual information</div>
        <div class="text">3. Follows Wikipedia's motivation of educating people under a free license</div> 
      </div>
    </div>
  <footer>
    <% include partials/footer %>
  </footer>
  </div>
</body>
</html>
