<!-- views/about.ejs -->

<!DOCTYPE html>

<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="main">
    <header>
      <% include partials/header %>
    </header>
    <br>
    <div class="row">
      <br>
      <div class="aboutheader">Mission</div>
      <div class="aboutbar"></div>
      <div class="aboutcard">
        <div class="abouttext">WikiTrends challenges today’s media standard by creating a democratized news source based on trending Wikipedia articles, revolutionizing the way people interact with the news.</div>
      </div>
      <br><br>
      <div class="aboutheader">Differentiators</div>
      <div class="aboutbar"></div>
      <div class="aboutcard">
        <table class="abouttable">
          <tr>
          <th><img class="difimg" src="images/dif1.png"></th>
          <th><img class="difimg" src="images/dif2.png"></th>
          <th><img class="difimg" src="images/dif3.png"> </th>
          </tr>
          <tr>
          <td class="abouttext"><center>Depersonalization</td>
          <td class="abouttext"><center>Centralized News</td>
          <td class="abouttext"><center>Wikipedia's Mission</td>
          </tr>
          <tr>
          <td class="abouttext"><center>Based on what people around the world are searching</td>
          <td class="abouttext"><center>Compiles varying perspectives to encourage individual thinking</td>
          <td class="abouttext"><center>Educates people under a free license</td>
          </tr>
        </table>
      </div>
      <br>
      <div class="aboutheader">Our Team</div>
      <div class="aboutbar"></div>
      <div class="aboutcard">
        <table class="abouttable">
          <tr>
          <td class="nametext">Cristina<br>Buenahora</td>
          <td class="nametext">Abhiti<br>Prabahar</td>
          <td class="nametext">Alice<br>Serfati</td>
          <td class="nametext">Sierra<br>Yit</td>
          </tr>
          <tr>
          <th><img class="aboutimg" src="images/cristina.jpg"></th>
          <th><img class="aboutimg" src="images/abhiti.jpg"></th>
          <th><img class="aboutimg" src="images/alice.jpg"></th>
          <th><img class="aboutimg" src="images/sierra.jpg"></th>
          </tr>
          <tr>
          <td class="infotext"><u>Hometown:</u> Rye, New York<br><u>Major:</u> Computer Science and Systems Engineering<br><u>Interests:</u> Hiking, salsa dancing, and crosswords</td>
          <td class="infotext"><u>Hometown:</u> Johns Creek, Georgia<br><u>Major:</u> Systems Engineering<br><u>Interests:</u> Baking, traveling, and puzzles</td>
          <td class="infotext"><u>Hometown:</u> Miami, Florida<br><u>Major:</u> Systems Engineering<br><u>Interests:</u> Dance, TED talks, and traveling</td>
          <td class="infotext"><u>Hometown:</u> Bermuda<br><u>Major:</u> Computer Science<br><u>Interests:</u> Yoga, Yelping, and drawing</td>
         </tr>
        </table>
      </div>
    </div>
  <footer>
    <% include partials/footer %>
  </footer>
</body>
</html>
