<!-- views/about.ejs -->

<!DOCTYPE html>

<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">
  <div class="main">
    <header>
      <% include partials/header %>
    </header>
    <div class="row">
      <h1 class="header">Mission</h1>
      <div class="aboutcard">
        <div class="text">WikiTrends challenges today’s media standard by creating an unbiased news source based on pure facts, revolutionizing the way people interact with news articles. </div>
      </div>
      <br>
      <h1 class="header">Differentiators</h1>
        <div class="aboutcard">
          <table class="abouttable">
            <tr>
              <th><img class="difimg" src="images/dif1.png"></th>
              <th><img class="difimg" src="images/dif2.png"></th>
              <th><img class="difimg" src="images/dif3.png"> </th>
            </tr>
            <tr>
              <td class="text">Based on searches trending worldwide, not personalized to user</td>
              <td class="text">Based on Wikipedia articles, which is factual information</td>
              <td class="text">Follows Wikipedia's motivation of educating people under a free license</td>
            </tr>
          </table>
        </div>
    </div>
  <footer>
    <% include partials/footer %>
  </footer>
  </div>
</body>
</html>
