<!-- views/pages/index.ejs -->

<!DOCTYPE html>

<html lang="en">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<head>
    <% include partials/head %>
</head>
<body class="container">
  <div class="main">
    <header>
      <% include partials/header %>
    </header>
    <div class="row">
      <ul>
        <% for (var i = 0; i < numberOfPages - 1; i++) { %>
          <a href="/electionWikipage?<%=i%>" id="wikipage<%=i%>">
            <p class="card"><%= wikiPageNames[i] %></p>
          </a>
        <% } %>
      </ul>
    </div>
  <footer>
    <% include partials/footer %>
  </footer>
  </div>
</body>
</html>
