<!-- views/about.ejs -->

<!DOCTYPE html>

<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="main">
    <header>
      <% include partials/header %>
    </header>
    <div class="row">
      <br>
      <div class="aboutheader">Our Algorithm</div>
      <div class="aboutbar"></div>
      <div class="aboutcard">
        <div class="abouttext">We take Wikipedia’s publicly stored pageview data and find what’s trending. We do so through a series of bash scripts that download all the files and create a dictionary with the pagename and aggregated hourly data. To find the spikes, we create an average of the previous daily pageviews for that page and compare it to its current pageviews to determine whether the page has had a huge percent increase or numerical increase. 
        </div>
      </div>
      <br><br>
      <div class="aboutheader">News Articles</div>
      <div class="aboutbar"></div>
      <div class="aboutcard">
        <div class="abouttext">Based on a 2014 Pew Research Center study, we identified news sources based on the ideological composition of their audiences. First, we looked at the plot below, which shows us 30 news sources plotted on a liberal vs conservative scale.
        </div>
        <br>
        <image src="images/articles1.png" class="image"/>
        <br>
        <div class="abouttext">Next, we looked at an infographic which shows the most trusted news sources based on five ideological categories defined by the study: Consistently Liberal, Mostly Liberal, Mixed, Mostly Conservative, Consistently Conservative.
        </div>
        <br>
        <image src="images/articles2.png" class="image"/>
        <br>
        <div class="abouttext">We decided to combine the information from both plots to define news sources that not only represent varying perspectives, but also represent the most trusted sources. Based on this plot, we chose the following most trusted sources:
          <div>1. Consistently Liberal: NPR, PBS, and BBC</div>
          <div>2. Mostly Liberal: CNN and NBC </div>
          <div>3. Mixed: ABC and CBS </div>
          <div>4. Mostly Conservative: FOX </div>
          <div>5. Consistently Conservative: Hannity, Limbaugh, and Glenn Beck</div>
        </div>
      </div>
    </div>
  <footer>
    <% include partials/footer %>
  </footer>
</body>
</html>
