<!-- views/about.ejs -->

<!DOCTYPE html>

<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="main">
    <header>
      <% include partials/header %>
    </header>
    <br>
    <div class="row">
      <br>
      <div class="aboutheader">The Wikipedia Dataset</div>
      <div class="aboutbar"></div>
      <div class="aboutcard">
        <div class="abouttext">Each hour, Wikipedia publishes a .gz file with the pageview statistics for all Wikipedia pages. The hourly date file has over 5 million rows, each showing the Wikipedia article name and the number of requests the page got during that hour.
        </div>
      </div>
      <br><br>
      <div class="aboutheader">Our Algorithm</div>
      <div class="aboutbar"></div>
      <div class="aboutcard">
        <image src="images/algorithm.png" class="image"/>
      </div>
    </div>
  <footer>
    <% include partials/footer %>
  </footer>
</body>
</html>
