<!-- views/pages/index.ejs -->

<!DOCTYPE html>

<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">
  <div class="main">
    <header>
      <% include partials/header %>
    </header>
    <div class="row">
      <ul>
        <% for (var i = 0; i < numberOfPages - 1; i++) { %>
          <a href="/wikipage" id="wikipage<%=i%>">
            <p class="card"><%= wikiPageNames[i] %></p>
          </a>
        <% } %>
      </ul>
    </div>
  <footer>
    <% include partials/footer %>
  </footer>
  </div>
</body>
</html>
