<!-- views/wikipage.ejs -->

<!DOCTYPE html>

<html lang="en">
<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="js/wikipage.js"></script>
    <% include partials/head %>
</head>
<body class="main">
    <header>
      <% include partials/header %>
    </header>
    <div class="card">
    <div id="pagename" class="wikipageheader"></div>
    <div id="description" class="abouttext"></div>
    </div>
    <div class="aboutbar"></div>
    <br>
    <div class="card">
      <div id="chart_div" class="chart"></div>
    </div>
    <br>
    <img src="images/timeline.png" class="timeline"></img>
    <br>
    <div id="articles" class="card">
    </div>
    <br>
    <footer>
      <% include partials/footer %>
    </footer>
</body>
</html>
