<!-- views/wikipage.ejs -->

<!DOCTYPE html>

<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">
  <div class="main">
    <header>
      <% include partials/header %>
    </header>
  <footer>
    <% include partials/footer %>
  </footer>
  </div>
</body>
</html>
